html, body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

/* More specific than MUI generated classes */
.customMemoryTree.lg {
  height: 70% !important;
  overflow: auto;
  border-right: 1px solid #ccc;
}

@media (max-width: 1199px) {
  .customMemoryTree.lg {
    height: 50% !important;
    border-right: none !important;
  }
}

.highlight {
  background-color: rgba(255, 255, 0, 0.3);
  transition: background-color 1s ease;
}
